<!DOCTYPE html>
<html>

<head>
<link href="css/Login.css" rel="stylesheet"></link>
  <link href="css/style.css" rel="stylesheet"></link>
  <link href="css/popUpStyle.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
</head>
<script type="text/javascript"></script>

<body>

<form action="/index">
  <div class="imgcontainer">
    <img src="images/OpenInvite.png" alt="Avatar" class="avatar" style="width: 70%">
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" style="width: 20%">Login</button>
    <br/>
    Do not have an account?
    <a href="#" onclick="document.getElementById('id02').style.display='block'" id="editProfileButton">Sign up</a>
    <br/>
  </div>

</form>


<!--Create Event Form-->
<!-- The Modal -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
    <form class="modal-content animate" action="/create_profile" method="post">
    <div class="imgcontainer">
      <img src="images/profile.png" alt="Avatar" class="avatar">
    </div>

    <div class="popup-container">
      <div>
      <label><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" value="" required>
      </div>

      <div>
      <label><b>Location</b></label>
      <input type="text" placeholder="Enter Location" name="location" value="" required>
      </div>

      <div>
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" value="" required>
      </div>

      <div>
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" value="" required>
      </div>

      <div>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      </div>

      <div class="clearfix" style="position: relative">
        <button type="submit" class="signupbtn btn">Create Account</button>
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn btn">Cancel</button>
      </div>

    </div>
  </form>
</div>

<script src="js/popUp.js"></script>

</body>



</html>
