<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
</head>

<body>
  Insert profile content here. <br/>
  <a href="/">Home</a> <br/>
  <a href="/profile">Profile</a> <br/>
  <a href="/help">Help</a> <br/>
  <a href="/settings">Settings</a> <br/>
</body>

</html>
