<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet"></link>
  <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>OpenInvite</title>
</head>

<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/profile">
              <img class="profile-picture" src="http://lorempixel.com/50/50/people/"></img>
              Skyler Taylor
            </a>
        </li>
        <hr></hr>
        <li class="sidebar-nav-active">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li>
            <a href="/events"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Events</a>
        </li>
        <li>
            <a href="/events"><i class="fa fa-compass" aria-hidden="true"></i> Explore Local Culture</a>
        </li>
        <li>
            <a href="/help"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
        </li>
      </ul>
    </div>

    <div class="banner">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      <button style="float: right" type="button" class="btn btn-default">
          <i aria-hidden="true"></i> Edit
        </button>
      <div class="jumbotron text-center">
        <h1>OpenInvite</h1>
      </div>
    </div>

    <div id="profile">
    	<div class="jumbotron text-center">
    		<img class="profile-picture" src="http://lorempixel.com/100/100/people/"></img>
    		<h2> Skyler Taylor <br/></h2>
    		<h3> La Jolla, California </h3>
    	</div>
    </div>

  </div>
  <script src="https://use.fontawesome.com/6a9c821b61.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
