<!DOCTYPE html>
<html>

<head>
  <title>Settings</title>
</head>

<body>
  Insert settings content here. <br/>
  <a href="/">Home</a> <br/>
  <a href="/profile">Profile</a> <br/>
  <a href="/help">Help</a> <br/>
  <a href="/settings">Settings</a> <br/>
</body>

</html>
