head,body{
  line-height:1.6;
  font-size:18px;
  color:#444;
}

h1,h2,h3{
  line-height:1.2;
}

.profile-picture {
  border-radius: 100%;
}

.jumbotron {
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.banner {
  background-color: rgb(205, 205, 205);
}
