head,body{
  line-height:1.6;
  font-size:18px;
  color:#444;
}

h1,h2,h3{
  line-height:1.2;
}

#menu-toggle {
  position: fixed;
  z-index: 100;
}

#FAQ {
  margin-left: 15px;
}

#culture {
  text-align: center;
}

.profile-picture {
  border-radius: 100%;
}

.jumbotron {
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.banner {
  background-color: rgb(205, 205, 205);
}

.events-table {
  word-wrap: break-word;
  max-width: 80% !important;
}

p.event-attending {
  border-style:solid;
  border-radius: 5px;
  color: #07ee7f;
}

p.event-cancelled {
  border-style:solid;
  border-radius: 5px;
  color: #f77171;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 40px;
    top: 40;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.clearfix

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}*/

/*
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


/* Extra style for the save button (green) */
.savebtn {
    width: 48% !important;
    padding: 10px 18px !important;
    background-color: #4CAF50 !important;
    float:left;
    margin-right: 10px !important;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: 45% !important;
    padding: 10px 18px !important;
    background-color: #f44336 !important;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;

}

.well {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
  overflow: hidden;
  height: 100%;
}

.attend-button {
  vertical-align: middle!important;
}

.event-item-left {
  left:0;
  float: left;
  width: 30%;
}

.event-item-right {
  margin-left: 35%;
  text-align: left;
  height:inherit;
}

.my-event-item-left {
  left:0;
  float: left;
  width: 30%;
}

.my-event-item-right {
  right:0px;
  height:inherit;
  height: 100%;
}


.areas-of-interest__gallery {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}


.areas-of-interest__image {
    /*max-width: 100%;
    height: auto;
    margin-bottom: 10px;*/
    display: block;
    margin: auto;
    width: 40%;
}

/* Bordered form */
form.search {
    border: 0px !important;
}

.popup-container {
  padding: 3%;
}
